.content{
    align-content: start;
    background: palegoldenrod;
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
}
.logo{
    background: url(./images/livelogoMobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    height: 35px;
    margin: 0;
    padding: 0;
    width: 50%;

}