

aside{
    display: grid;
    grid-template-columns:1fr;
    position: fixed;
    bottom: 0;
}

.Section__frstRow{
    background:#fcfcfc;
    border-radius: 10px;
    font-family: sans-serif;
    height: 6rem;
    width: 100%;
}
    
    
.Section__FrHead{
    box-sizing: border-box;
    color:#dea727;
    font-size:120%;
    margin: 0;
    padding-left: 1rem;
    padding-top: 2rem;
    left:1rem;
}
.Section__Frsubt{
    align-content: center;
    box-sizing: border-box;
    color:#dea727;
    font-size:90%;
    margin: 0;
    padding-left: 1rem;
    left:1rem;
}

.Section__scndRow{
    align-content: center;
    background:#fcfcfc;
    font-family: sans-serif;
    height: 5rem;
    padding-top: 1rem;
    
   }
   .Section__btn-cheklst{
    background: url(./images/btn_checklist.png);
    background-size: 100% 100%;
    align-content: center;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    height: 40%;
    margin: 0;
    padding: 0;
    outline: #fff;
    width: 15%;
   }
   .Section__btn-download{
       background: url(./images/btn_baixarConteudo.png);
       background-size: 100% 100%;
       align-content: center;
       border-radius: 10px;
       border: none;
       box-sizing: border-box;
       height: 40%;
       margin: 0;
       padding: 0;
       outline: #fff;
       width: 15%;
   }

.Section__thrdRow{
    background:#fcfcfc;
    display: grid;
    font-family: sans-serif;
    grid-template-columns: 45% 30% 22%;
    justify-content: space-around;
    height: 2.5rem;

}
.Section__thrdRow-colabs{
    color: #029ba0;
    width: 35%;
}

.Section__btn-adicionar{
    background: url(./images/btn-adicionar.png);
    background-size: 100% 100%;
    align-content: center;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    height: 60%;
    margin: 0;
    padding: 0;
    outline: #fff;
    width: 30%;
   }

.Section__4thRow{
    background: #fcfcfc;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 25% 15% 20% 7% 10%;
    justify-content:space-around ;
}

.Section__4thRow-name{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Section__4thRow-email{
    box-sizing: border-box;
    margin: 0;
    color: gray;
    font-size: 0.7rem;
    font-weight: lighter;
    width: 25%;
}
.Section__4thRow-charge{
    color: gray;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 0.8rem
}
.Section__btn-open{
    background: url(./images/btn-abrir.png);
    background-size: 100% 100%;
    align-content: center;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    height: 2rem;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    margin-right: 15%;
    outline: #fff;
    width: 100%;
}
.Section__btn-remove{
    background: url(./images/btn-remover.png);
    background-size: 100% 100%;
    align-content: center;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    height: 2rem;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    margin-right: 15%;
    outline: #fff;
    width: 100%;
}



