@media  (max-width: 1200px){

    main{
        background: #fcfcfc;
        
        font-family:sans-serif; 
        height: 100vh;
        justify-content: space-evenly;
        
        position: absolute;
        width: 100vw;
        }
     
    header{
        background: fcfcfc;
        height: 30vh; 
        width: 80vw;
        position: absolute;
        top: 5%;
        right: 2%;
    }
    
    .header__foto{
        background:#ececec;
        height: 3rem;
        justify-content:right;
        margin-right: 2vw;
        width: 5rem;
        right: 0.5rem;
        visibility: collapse;
    }
    aside{
        visibility:collapse;}
   
   
    .livelogoMobile {
        width: 30%;
        position:fixed;
        left: 5%;
        top:1%;
        visibility: visible;
       
    }
    
    section{
        align-content: start;
        bottom: 0;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 0 0 8px;
        display: grid;
        grid-template-rows: 
        10%,10%,10%,10%,10%,10%,10%;
        height: 70vh;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 90vw;
    
    }
    .section__head-pesquisa{
        background: #fefefe;
        border: solid 1px gray;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 80% 20%;
        top: 15%;
        width: 90%;
    }

    .section__input-pesquisa{
        border: #fefefe;
        font-size: 0.8rem;
        height: 1rem;
        outline:none; 
        width: 60%;
        }


    .section__btn-pesquisa{
        background: url(./images/search-icon-hi.png);
        background-size: 100% 100%;
        border: #fefefe;
        border: hidden #fff;
        height: 0.8rem;
        outline:none; 
        width: 0.2%;
    }
       
    .Section__thrdRow{
        background:#fcfcfc;
        display: grid;
        font-family: sans-serif;
        grid-template-columns: 20% 40% 40%;
        justify-content: space-around;
        height: 2.5rem;
    
    }
        .Section__btn-adicionar{
            border-radius: 10px;
            border: none;
            box-sizing: border-box;
            height: 100%;
            margin: 0;
            padding: 0;
            outline: #fff;
            width: 100%;
        }
        .Section__thrdRow-colabs{
            color: #029ba0;
            width: 5%;
        }
}